aioquic==0.9.22
airdrop-ng==1.1
airgraph-ng==1.1
annotated-types==0.6.0
apparmor==3.1.6
asgiref==3.7.2
attrs==23.1.0
autocommand==2.2.2
blinker==1.6.3
Brotli==1.1.0
btrfsutil==6.6.2
cairocffi==1.6.1
CairoSVG==2.7.1
certifi==2023.11.17
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
crit==3.18
cryptography==41.0.6
cssselect2==0.7.0
dbus-python==1.3.2
defusedxml==0.7.1
docopt==0.6.2
fastjsonschema==2.19.0
Flask==2.3.3
future==0.18.3
Glances==3.4.0.3
gpg==1.23.2
h11==0.14.0
h2==4.1.0
hpack==4.0.0
httpie==3.2.1
hyperframe==6.0.1
idna==3.4
importlib-metadata==5.0.0
inflect==7.0.0
itsdangerous==2.1.2
jaraco.classes==3.3.0
jaraco.context==4.3.0
jaraco.functools==3.9.0
jaraco.text==3.11.1
jeepney==0.8.0
Jinja2==3.1.2
kaitaistruct==0.10
keyring==24.2.0
keyrings.alt==5.0.0
ldap3==2.9
lensfun==0.3.4
LibAppArmor==3.1.6
markdown-it-py==3.0.0
MarkupSafe==2.1.3
mdurl==0.1.2
mitmproxy==10.1.5
mitmproxy_rs==0.4.0
mitmproxy_wireguard==0.1.23
more-itertools==10.1.0
msgpack==1.0.5
multidict==6.0.4
nftables==0.1
ordered-set==4.1.0
packaging==23.2
passlib==1.7.4
Pillow==10.1.0
platformdirs==4.0.0
ply==3.11
protobuf==4.25.1
psutil==5.9.6
publicsuffix2==2.20191221
pwquality==1.4.5
pyaml==23.9.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybind11==2.11.1
pycairo==1.25.1
pycparser==2.21
pycryptodomex==3.12.0
pycurl==7.45.2
pydantic==2.5.2
pydantic_core==2.14.5
Pygments==2.16.1
PyGObject==3.46.0
pylsqpack==0.3.17
pyOpenSSL==23.3.0
pyparsing==3.1.1
pyperclip==1.8.2
PyQt5==5.15.10
PyQt5-sip==12.13.0
PySocks==1.7.1
python-xlib==0.33
pyudev==0.24.1
pyxdg==0.28
PyYAML==6.0.1
ranger-fm==1.9.3
Reflector==2023.6.28.0.36.1
requests==2.31.0
requests-toolbelt==1.0.0
rich==13.7.0
ruamel.yaml==0.17.40
ruamel.yaml.clib==0.2.7
SecretStorage==3.3.3
service-identity==23.1.0
shtab==1.6.4
six==1.16.0
sortedcontainers==2.4.0
svgwrite==1.4.3
termcolor==2.3.0
tinycss2==1.2.1
tldr==3.2.0
tomli==2.0.1
torbrowser-launcher==0.3.6
tornado==6.3.2
trove-classifiers==2023.12.1
typing_extensions==4.8.0
uc-micro-py==1.0.2
ueberzug==18.2.1
ujson==5.8.0
urllib3==1.26.18
urwid==2.2.3
validate-pyproject==0.13.post1.dev0+gb752273.d20230520
webencodings==0.5.1
Werkzeug==2.3.8
wsproto==1.2.0
zipp==3.17.0
zstandard==0.22.0
